<section id="testimonials" class="p-10 md-p-l5">
    <div class="md-w-75pc title" data-aos="zoom-in-up" data-aos-delay="10">
        <h2 class="white fs-l3 fw-900 lh-1 mb-10">{{'testimonials.title' | translate}}</h2>
    </div>
    <div id="slider-2" data-aos="zoom-in-up" data-aos-delay="10">
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider"> {{'testimonials.1.text' | translate}} </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/damian.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Damian Galletini</div>
                        <div class="indigo-lightest opacity-20">Chief of Engineering</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">{{'testimonials.2.text' | translate}}  </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/ariel.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Ariel Gonella</div>
                        <div class="indigo-lightest opacity-20">Microsoft Dynamics Consultor</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">{{'testimonials.3.text' | translate}}  </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/gerardo.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Gerardo Boiero</div>
                        <div class="indigo-lightest opacity-20">Project Manager / Scrum Master</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>