<section id="testimonials" class="p-10 md-p-l5">
    <div class="md-w-75pc" style="padding-left: 3rem;">
        <h2 class="white fs-l3 fw-900 lh-1 mb-10">{{'testimonials.title' | translate}}</h2>
    </div>
    <div id="slider-2">
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Alejandro is an excellent professional, both technically and in terms of soft skills.
                    I had the opportunity to work with him for a couple of years where I could realize that in addition to having great technical skills, he always has a complete picture of the product or solution that he is working on. </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/damian.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Damian Galletini</div>
                        <div class="indigo-lightest opacity-20">Chief of Engineering</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Trabajé con Alejandro en varios proyectos relacionados a módulos de ERP. Además de buena persona, que rescato principalente, es un excelente profesional. Es muy detallista y enfocado siempre en los resultados, gran capacidad de integrarse y destacarse en equipos de trabajo. 
                    Su personalidad positiva siempre influye en el envión anímico del equipo, empujando siempre en las situaciones críticas que puedan presentarse. Es un perfil muy recomendable. </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/ariel.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Ariel Gonella</div>
                        <div class="indigo-lightest opacity-20">Microsoft Dynamics Consultor</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="p-8 br-8 bg-indigo-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Alejandro es un excelente profesional, con conocimiento en muchas tecnologías y con buen criterio de calidad. Tuve la suerte de trabajar junto a él en varios proyectos y lograr grandes desafíos. Es una persona orientada a resultados, capaz de trabajar en equipo y liderarlo. Tiene una visión integral de los productos y proyectos que le permiten comprender las necesidades y requerimientos del negocio, programarlas y realizar deliverys de productos con mucho profesionalismo. </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round" src="./../../../assets/images/testimonials/gerardo.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Gerardo Boiero</div>
                        <div class="indigo-lightest opacity-20">Project Manager / Scrum Master</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>