<div class="container cheatsheet">
    <h2 class="code-line" data-line-start=75 data-line-end=76 ><a id="Plugins_75"></a>Cheat Sheet</h2>
    <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>Plugin</th>
    <th>README</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Dropbox</td>
    <td><a href="https://github.com/joemccann/dillinger/tree/master/plugins/dropbox/README.md">plugins/dropbox/README.md</a></td>
    </tr>
    <tr>
    <td>GitHub</td>
    <td><a href="https://github.com/joemccann/dillinger/tree/master/plugins/github/README.md">plugins/github/README.md</a></td>
    </tr>
    <tr>
    <td>Google Drive</td>
    <td><a href="https://github.com/joemccann/dillinger/tree/master/plugins/googledrive/README.md">plugins/googledrive/README.md</a></td>
    </tr>
    <tr>
    <td>OneDrive</td>
    <td><a href="https://github.com/joemccann/dillinger/tree/master/plugins/onedrive/README.md">plugins/onedrive/README.md</a></td>
    </tr>
    <tr>
    <td>Medium</td>
    <td><a href="https://github.com/joemccann/dillinger/tree/master/plugins/medium/README.md">plugins/medium/README.md</a></td>
    </tr>
    <tr>
    <td>Google Analytics</td>
    <td><a href="https://github.com/RahulHP/dillinger/blob/master/plugins/googleanalytics/README.md">plugins/googleanalytics/README.md</a></td>
    </tr>
    </tbody>
    </table>
    
</div>
