<div class="container cheatsheet" *ngFor="let sheet of cheatsheets">
    <h2 class="code-line" data-line-start=75 data-line-end=76 data-aos="zoom-in-up" data-aos-delay="10"><a id="Plugins_75"></a>{{sheet.title | translate}}</h2>
    <table class="table table-striped table-bordered" data-aos="zoom-in-up" data-aos-delay="10">
    <thead>
    <tr>
    <th *ngFor="let col of sheet.colums">{{col | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of sheet.list">
    <td>{{item.title | translate}}</td>
    <td>{{item.desc | translate}}</td>
    </tr>
    </tbody>
    </table>
    
</div>
