// Small devices (landscape phones, less than 768px)
$breakpoint-mobile: 767.98px;

// Medium devices (tablets, less than 992px)
$breakpoint-tablet: 991.98px;

// Large devices (desktops, less than 1200px)
$breakpoint-desktop: 1199.98px;