.node-icon {
    height: 35px !important;
}
.slide-class {
    padding-left: 4rem;
    padding-right: 4rem;
}
.invert-image{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.image-space{
    padding: 1rem;
}