<section id="features" class="p-10 md-p-l5">
    <div class="md-w-75pc title">
        <h2 class="white fs-l3 fw-900 lh-1">{{'features.title' | translate}}</h2>
    </div>
   <div *ngIf="isMobile" class="relative bg-indigo-lightest-10 mt-10">
        <div  id="slider-1">
            <div  class="flex flex-column md-flex-row mx-auto slide-class" *ngFor="let itemCarousel of carouselMobile">
                <ng-container *ngIf="itemCarousel">
                
                    <div class="w-100pc md-w-40pc" *ngFor="let item of itemCarousel">
                        <div class="br-8 p-5 m-5">
                            <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                                <img [class]="item.imgClass" [src]="'./../../../assets/images/' + item.logo" [alt]="item.technology">
                            </div>
                            <h4 class="white fw-600 fs-m3 mb-5" [innerText]="item.technology"></h4>
                            <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-60" [innerHTML]="item.desc | translate"></div>
                            <a *ngIf="getDisplay('angular')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300" [innerText]="item.btnLabel | translate"></a>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
        <ul class="absolute list-none w-100pc flex justify-between top-50pc arrows">
            <li><button class="prev ml-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2 focus-indigo-lighter outline-none"><i
                        data-feather="chevron-left"></i></button></li>
            <li><button class="next mr-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2  focus-indigo-lighter outline-none"><i
                        data-feather="chevron-right"></i></button></li>
        </ul>
   </div>
   <div *ngIf="isTablet" class="relative bg-indigo-lightest-10 mt-10">
    <div  id="slider-1">
        <div  class="flex flex-column md-flex-row mx-auto slide-class" *ngFor="let itemCarousel of carouselTablet">
            <ng-container *ngIf="itemCarousel">
            
                <div class="w-100pc md-w-40pc" *ngFor="let item of itemCarousel">
                    <div class="br-8 p-5 m-5">
                        <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                            <img [class]="item.imgClass" [src]="'./../../../assets/images/' + item.logo" [alt]="item.technology">
                        </div>
                        <h4 class="white fw-600 fs-m3 mb-5" [innerText]="item.technology"></h4>
                        <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-60" [innerHTML]="item.desc | translate"></div>
                        <a *ngIf="getDisplay('angular')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300" [innerText]="item.btnLabel | translate"></a>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
    <ul class="absolute list-none w-100pc flex justify-between top-50pc">
        <li><button class="prev ml-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2 focus-indigo-lighter outline-none"><i
                    data-feather="chevron-left"></i></button></li>
        <li><button class="next mr-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2  focus-indigo-lighter outline-none"><i
                    data-feather="chevron-right"></i></button></li>
    </ul>
</div>
<div *ngIf="isDesktop" class="relative bg-indigo-lightest-10 mt-10">
    <div  id="slider-1">
        <div  class="flex flex-column md-flex-row mx-auto slide-class" *ngFor="let itemCarousel of carouselDesktop">
            <ng-container *ngIf="itemCarousel">
            
                <div class="w-100pc md-w-40pc" *ngFor="let item of itemCarousel">
                    <div class="br-8 p-5 m-5">
                        <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                            <img [class]="item.imgClass" [src]="'./../../../assets/images/' + item.logo" [alt]="item.technology">
                        </div>
                        <h4 class="white fw-600 fs-m3 mb-5" [innerText]="item.technology"></h4>
                        <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-60" [innerHTML]="item.desc | translate"></div>
                        <a *ngIf="getDisplay('angular')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300" [innerText]="item.btnLabel | translate"></a>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
    <ul class="absolute list-none w-100pc flex justify-between top-50pc">
        <li><button class="prev ml-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2 focus-indigo-lighter outline-none"><i
                    data-feather="chevron-left"></i></button></li>
        <li><button class="next mr-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2  focus-indigo-lighter outline-none"><i
                    data-feather="chevron-right"></i></button></li>
    </ul>
</div>
</section>

<!-- <section id="features" class="p-10 md-p-l5">
    <div class="md-w-75pc" style="padding-left: 3rem;">
        <h2 class="white fs-l3 fw-900 lh-1">{{'features.title' | translate}}</h2>
    </div>
   <div class="relative bg-indigo-lightest-10 mt-10">
        <div id="slider-1">
            <ng-container *ngTemplateOutlet="slide1"></ng-container> 
            <ng-container *ngTemplateOutlet="slide2"></ng-container> 
        </div>
        <ul class="absolute list-none w-100pc flex justify-between top-50pc">
            <li><button class="prev ml-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2 focus-indigo-lighter outline-none"><i
                        data-feather="chevron-left"></i></button></li>
            <li><button class="next mr-10 br-round border-indigo-lightest indigo-lightest  bg-transparent flex justify-center items-center p-2  focus-indigo-lighter outline-none"><i
                        data-feather="chevron-right"></i></button></li>
        </ul>
   </div>
</section>


<ng-template #slide1>
    <div class="flex flex-column md-flex-row mx-auto slide-class">
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img src="./../../../assets/images/logo__angular--white.png" alt="Angular">
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">Angular</h4>
                <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-60" [innerHTML]="'features.card1.desc' | translate"></div>
                <a *ngIf="getDisplay('angular')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card1.btn.label' | translate}}</a>
            </div>
        </div>
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img src="./../../../assets/images/dev_node_icon_160853.png" alt="Nodejs" class="invert-image">
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">Nodejs</h4>
                <div class="indigo-lightest fw-600 fs-m1 opacity-60" [innerHTML]="'features.card2.desc' | translate"></div>
                <a *ngIf="getDisplay('node')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card2.btn.label' | translate}}</a>
            </div>
        </div>
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img src="./../../../assets/images/4691292_react native_react_icon-modified.png" alt="React">
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">React</h4>
                <div class="indigo-lightest fw-600 fs-m1 opacity-60" [innerHTML]="'features.card3.desc' | translate"></div>
                <a *ngIf="getDisplay('react')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card3.btn.label' | translate}}</a>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #slide2>
    <div class="flex flex-column md-flex-row mx-auto slide-class">
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img class="bg-white" src="./../../../assets/images/typescript_icon_131914.png" alt="Typescript">
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">Typescript</h4>
                <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-60" [innerHTML]="'features.card4.desc' | translate"></div>
                <a *ngIf="getDisplay('angular')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card4.btn.label' | translate}}</a>
            </div>
        </div>
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img class="invert-image" src="./../../../assets/images/redux_icon_132038.png" alt="Redux" >
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">Redux</h4>
                <div class="indigo-lightest fw-600 fs-m1 opacity-60" [innerHTML]="'features.card5.desc' | translate"></div>
                <a *ngIf="getDisplay('node')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card5.btn.label' | translate}}</a>
            </div>
        </div>
        <div class="w-100pc md-w-40pc">
            <div class="br-8 p-5 m-5">
                <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5">
                    <img class="invert-image image-space" src="./../../../assets/images/_rxjs-removebg-preview.png" alt="Rxjs">
                </div>
                <h4 class="white fw-600 fs-m3 mb-5">ReactiveX</h4>
                <div class="indigo-lightest fw-600 fs-m1 opacity-60" [innerHTML]="'features.card6.desc' | translate"></div>
                <a *ngIf="getDisplay('react')" href="#" class="mt-5 button bg-indigo-lightest-10 fs-s3 white no-underline hover-opacity-100 hover-scale-up-1 ease-300">{{'features.card6.btn.label' | translate}}</a>
            </div>
        </div>

    </div>
</ng-template> -->
<!--TODO: blog: 006 (Low): Agregarlos:  Tensorflow, .NET, Cloud quedan para segunda etapa.-->