<section *ngIf="article" class="featured-blog">
    <div class="md-w-75pc">
        <h2 class="white fs-l3 fw-900 lh-1" [innerText]="article.title | translate"></h2>
        <p class="indigo-lightest fw-600 fs-m1 opacity-50 my-5" [innerText]="article.subtitle | translate"></p>
    </div>
    <div class="relative w-100pc h-75vh bg-cover bg-b" [ngStyle]="backgroundImage()">
        <a [href]="'blog/' + article.id" class="bg-white black px-5 py-3 absolute right-0 bottom-0 hover-bg-black hover-white ease-500 flex justify-center items-center after-arrow-right no-underline fs-m1"></a>
    </div>

</section>
