  <!-- footer -->
  <footer id="footer" class="p-5 md-p-l5 bg-indigo-lightest-10">
    <div class="flex flex-wrap justify-center">
<!--         <div class="md-w-25pc mb-10">
            <img src="assets/images/logo.png" class="w-l5" alt="">
            <div class="white opacity-70 fs-s2 mt-4 md-pr-10">
                <p>Soluta voluptate et optio. Eos quasi impedit sapiente aliquid eius eligendi at. Necessitatibus magni et sed quod quas minima.</p>
                <br>
                <p>Soluta voluptate et optio. Eos quasi impedit sapiente aliquid eius eligendi at. Necessitatibus magni et sed quod quas minima.</p>
            </div>
        </div> -->
        <!-- <div class="w-100pc md-w-50pc">
            <div class="flex justify-around">
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Company</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                Us</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                        </li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Contact</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                        </li>
                    </ul>
                </div>
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Product</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                Us</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                        </li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Contact</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                        </li>
                    </ul>
                </div>
                <div class="w-33pc md-px-10 mb-10">
                    <h5 class="white">Support</h5>
                    <ul class="list-none mt-5 fs-s2">
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">About
                                Us</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Jobs</a>
                        </li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Contact</a></li>
                        <li class="my-3"><a href="#" class="white opacity-70 no-underline hover-underline">Media</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="w-100pc copyright">
           <img src="../../../assets/images/94d90e3c60378eda611fe92391800a58e09cb1278563af58ad43efeca15bfdd1.0-removebg-preview.png" alt="Hi">
        </div>
        <div class="w-100pc md-w-10pc">
<!--             <div class="flex w-75pc md-w-100pc mx-auto">
                <input type="text" class="input flex-grow-1 bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 br-r-0" placeholder="Email Address">
                <button class="button bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Start</button>
            </div> -->
            <div class="flex justify-around">
                <a href="https://www.linkedin.com/in/alejandroarribillaga/" target="__blank" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400"><i
                        data-feather="linkedin" class="absolute-center h-4"></i></a>
                <a href="https://github.com/gaspergigio" target="__blank" class="relative p-5 bg-indigo br-round white hover-scale-up-1 ease-400"><i
                        data-feather="github" class="absolute-center h-4"></i></a>
            </div>
        </div>
        <div class="w-100pc copyright">
            <p style="color: white;">@Copyright 2022 Alejandro Arribillaga - All Right Reserved</p>
        </div>
    </div>
</footer>
